@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-montserrat;
    }
}

@layer components {
    .sidebar-shadow {
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    }

    .line {
        border: 1px solid #e7e7e7;
    }

    .user-list-columns {
        grid-template-columns: 1.7fr 1.3fr 1fr 1fr;
    }

    .products-list-columns {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    }

    .vendors-list-columns {
        grid-template-columns: 2.8fr 1fr 1.2fr 1fr 1fr;
    }

    .vendor-info-columns {
        grid-template-columns: 1fr 0.8fr 1fr 0.4fr;
    }

  .projects-list-columns {
    grid-template-columns: 1.4fr 1fr 1fr 1fr 0.6fr;
  }

  .modal {
    @apply fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-30 opacity-0 transition-opacity duration-200;
  }

    .modal {
        @apply fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-30 opacity-0 transition-opacity duration-200;
    }

    .modal.in.visible {
        @apply opacity-100;
    }

    .select-box {
        @apply absolute w-full top-full mt-2 left-0 border-[0.5px] py-2 bg-white border-solid border-gray-150 sidebar-shadow flex flex-col z-10 transition-all duration-150 rounded-[5px] opacity-0 -translate-y-4;
    }

    .select-box.in.visible {
        @apply opacity-100 translate-y-0;
    }

    .multiple-select-box {
        @apply absolute top-full mt-2 -translate-y-4 sidebar-shadow left-0 w-full overflow-auto z-10 outline-none border border-solid border-[#F0F0F0] rounded-[5px] bg-white opacity-0 transition-all duration-150;
    }

    .multiple-select-box.in.visible {
        @apply opacity-100 translate-y-0;
    }

    .trash-active {
        @apply opacity-0 transition-opacity;
    }

    .trash-inactive {
        @apply transition-opacity;
    }

    .trash-selector:hover .trash-active {
        @apply opacity-100;
    }

    .trash-selector:hover .trash-inactive {
        @apply opacity-0;
    }
}

.action-btn-primary {
    @apply text-primary border-primary hover:bg-primary;
}

.action-btn-red {
    @apply text-red border-red hover:bg-red;
}
